# Set default behavior to automatically normalize line endings.
* text=auto

# Force text files to use LF line endings in the repository.
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.mjs text eol=lf
*.md text eol=lf
